
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-598005407789154871.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-598005407789154871.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-598005407789154871.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-598005407789154871.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-598005407789154871.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-598005407789154871.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-598005407789154871.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-598005407789154871.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-598005407789154871.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-598005407789154871.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-598005407789154871.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-598005407789154871.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-598005407789154871.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-598005407789154871.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-598005407789154871.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-598005407789154871.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-598005407789154871.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-598005407789154871.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-598005407789154871.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-598005407789154871.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-598005407789154871.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-598005407789154871.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-598005407789154871.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-598005407789154871.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-598005407789154871.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-598005407789154871.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-598005407789154871.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-598005407789154871.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-598005407789154871.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-598005407789154871.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-598005407789154871.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-598005407789154871.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-598005407789154871.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-598005407789154871.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-598005407789154871.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-598005407789154871.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-598005407789154871.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-598005407789154871.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-598005407789154871.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-598005407789154871.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-598005407789154871.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-598005407789154871.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-598005407789154871.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-598005407789154871.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-598005407789154871.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-598005407789154871.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-598005407789154871.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-598005407789154871.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-598005407789154871.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-598005407789154871.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-598005407789154871.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-598005407789154871.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-598005407789154871.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-598005407789154871.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-598005407789154871.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-598005407789154871.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-598005407789154871.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-598005407789154871.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-598005407789154871.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-598005407789154871.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-598005407789154871.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-598005407789154871.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-598005407789154871.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-598005407789154871.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-598005407789154871.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-598005407789154871.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-598005407789154871.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-598005407789154871.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-598005407789154871.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-598005407789154871.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-598005407789154871.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-598005407789154871.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-598005407789154871.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-598005407789154871.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-598005407789154871.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-598005407789154871 .-gp-rotate-90,.gps-598005407789154871 .gp-rotate-180,.gps-598005407789154871 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-598005407789154871 .gp-relative{position:relative}.gps-598005407789154871 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-598005407789154871 .gp-mb-0{margin-bottom:0}.gps-598005407789154871 .gp-flex{display:flex}.gps-598005407789154871 .gp-inline-flex{display:inline-flex}.gps-598005407789154871 .gp-grid{display:grid}.gps-598005407789154871 .\!gp-hidden{display:none!important}.gps-598005407789154871 .gp-hidden{display:none}.gps-598005407789154871 .gp-min-h-0{min-height:0}.gps-598005407789154871 .gp-w-full{width:100%}.gps-598005407789154871 .gp-max-w-full{max-width:100%}.gps-598005407789154871 .-gp-rotate-90{--tw-rotate:-90deg}.gps-598005407789154871 .-gp-rotate-90,.gps-598005407789154871 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-598005407789154871 .gp-rotate-180{--tw-rotate:180deg}.gps-598005407789154871 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-598005407789154871 .gp-cursor-pointer{cursor:pointer}.gps-598005407789154871 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-598005407789154871 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-598005407789154871 .gp-flex-col{flex-direction:column}.gps-598005407789154871 .gp-items-center{align-items:center}.gps-598005407789154871 .gp-justify-center{justify-content:center}.gps-598005407789154871 .gp-gap-\[16px\]{gap:16px}.gps-598005407789154871 .gp-overflow-hidden{overflow:hidden}.gps-598005407789154871 .gp-overflow-clip{overflow:clip}.gps-598005407789154871 .gp-break-all{word-break:break-all}.gps-598005407789154871 .gp-text-\[var\(--icon-expand-active-color\)\]{color:var(--icon-expand-active-color)}.gps-598005407789154871 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-598005407789154871 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-598005407789154871 .gp-duration-200{transition-duration:.2s}.gps-598005407789154871 .gp-duration-500{transition-duration:.5s}.gps-598005407789154871 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-598005407789154871 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-598005407789154871 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}@media (max-width:1024px){.gps-598005407789154871 .tablet\:\!gp-hidden{display:none!important}.gps-598005407789154871 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-598005407789154871 .mobile\:\!gp-hidden{display:none!important}.gps-598005407789154871 .mobile\:gp-hidden{display:none}}.gps-598005407789154871 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-598005407789154871 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}.gps-598005407789154871 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gnpTIhI2Sf"}' data-id="gnpTIhI2Sf" id="gnpTIhI2Sf" data-same-height-subgrid-container class="gnpTIhI2Sf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pb:32px;--pt-mobile:15px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--pt-tablet:0px;--pl-tablet:10px;--pb-tablet:0px;--pr-tablet:10px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gyDcje1Qtz gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gYOVMifmz1"}' data-id="gYOVMifmz1" id="gYOVMifmz1" data-same-height-subgrid-container class="gYOVMifmz1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1170px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGMnMo3y4_ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBJa8Yn5GB"
        class="gBJa8Yn5GB"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--size:32px;--size-tablet:30px;--size-mobile:26px;--lh:44px;--lh-tablet:42px;--lh-mobile:35.6px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBJa8Yn5GB_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gQCmB6F5QI"}' data-id="gQCmB6F5QI" id="gQCmB6F5QI" data-same-height-subgrid-container class="gQCmB6F5QI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1150px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJ0pM7mrNs gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:30px;--mb:30px;--pt:0px" class="g_vblMSRbJ ">
      
    <gp-accordion data-id="g_vblMSRbJ" class="gp-flex gp-flex-col gp-w-full" style="--gg:24px;border-radius:inherit"
      gp-data='{"uid":"g_vblMSRbJ","setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":false,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817558491496808\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817562042171752\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M216.49,168.49a12,12,0,0,1-17,0L128,97,56.49,168.49a12,12,0,0,1-17-17l80-80a12,12,0,0,1,17,0l80,80A12,12,0,0,1,216.49,168.49Z\" /></svg>","iconCollapseSize":22,"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"g_vblMSRbJ","childListNumber":["0"],"chidlrenUid":["gj0AcRaoKU","gfhl-CgQXC","gwMPZoKpey","goKfwoAVD6","g5DFJfwF96","gIVArxybka"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"active":"#121212","hover":"#121212","normal":"#121212"},"headerBorder":{"active":{"border":"solid","borderWidth":"1px","color":"#EEEEEE","isCustom":true,"position":"bottom","width":"1px 1px 1px 1px"},"hover":{"border":"solid","borderWidth":"1px","color":"#EEEEEE","isCustom":true,"position":"bottom","width":"1px 1px 1px 1px"},"normal":{"border":"solid","borderWidth":"1px","color":"#EEEEEE","isCustom":true,"position":"bottom","width":"1px 1px 1px 1px"}},"textColor":{"active":"#121212","hover":"#121212","normal":"#222323"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"24px","padding":{"bottom":"15px","left":"24px","right":"24px","top":"15px","type":"custom"}}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"15px","left":"24px","right":"24px","top":"15px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"10px","left":"24px","right":"24px","top":"10px","type":"custom"},"shape":"","shapeValue":"","width":""},"tablet":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"10px","left":"24px","right":"24px","top":"10px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--bg:transparent;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px">
    <div data-index="0" class="g_vblMSRbJ gp-overflow-hidden gp-child-item-g_vblMSRbJ gp-accordion-item">
      <div aria-hidden uid="gj0AcRaoKU" id="gj0AcRaoKU" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g_vblMSRbJ gp-accordion-item-g_vblMSRbJ-0" style="--pl:24px;--pr:24px;--pt:15px;--pb:15px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:22px;height:22px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full gp-text-[var(--icon-expand-active-color)]">
              <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562042171752">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,168.49a12,12,0,0,1-17,0L128,97,56.49,168.49a12,12,0,0,1-17-17l80-80a12,12,0,0,1,17,0l80,80A12,12,0,0,1,216.49,168.49Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--ta:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#121212;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--size:19px;--size-tablet:16px;--size-mobile:18px;--lh:24px;--lh-tablet:180%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_vblMSRbJ_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="true" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px;--pt:15px;--pb:15px">
          <div
      data-same-height-display-contents
      
      class="gG3iaZ9I_1 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gyXiyN8nmU"}' data-id="gyXiyN8nmU" id="gyXiyN8nmU" data-same-height-subgrid-container class="gyXiyN8nmU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gSvzujzBlA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJ59b-ywE_"
        class="gJ59b-ywE_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:26px;--lh-tablet:24px;--lh-mobile:26px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJ59b-ywE__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--bg:transparent;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px">
    <div data-index="1" class="g_vblMSRbJ gp-overflow-hidden gp-child-item-g_vblMSRbJ gp-accordion-item">
      <div aria-hidden uid="gfhl-CgQXC" id="gfhl-CgQXC" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g_vblMSRbJ gp-accordion-item-g_vblMSRbJ-1" style="--pl:24px;--pr:24px;--pt:15px;--pb:15px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:transparent;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#EEEEEE;--hvr-bc:#EEEEEE">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:22px;height:22px"
            data-index="1"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--ta:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#222323;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--size:19px;--size-tablet:16px;--size-mobile:18px;--lh:24px;--lh-tablet:180%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_vblMSRbJ_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      
      class="gpOUTOYNP8 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ggHcx2n_QK"}' data-id="ggHcx2n_QK" id="ggHcx2n_QK" data-same-height-subgrid-container class="ggHcx2n_QK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJuqxE7HZX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOF78_pLax"
        class="gOF78_pLax"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:26px;--lh-tablet:24px;--lh-mobile:26px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOF78_pLax_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--bg:transparent;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px">
    <div data-index="2" class="g_vblMSRbJ gp-overflow-hidden gp-child-item-g_vblMSRbJ gp-accordion-item">
      <div aria-hidden uid="gwMPZoKpey" id="gwMPZoKpey" data-index="2"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g_vblMSRbJ gp-accordion-item-g_vblMSRbJ-2" style="--pl:24px;--pr:24px;--pt:15px;--pb:15px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:transparent;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#EEEEEE;--hvr-bc:#EEEEEE">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:22px;height:22px"
            data-index="2"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--ta:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#222323;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--size:19px;--size-tablet:16px;--size-mobile:18px;--lh:24px;--lh-tablet:180%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_vblMSRbJ_childItem_2 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      
      class="g1GanarR1F gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVPcJV5Xj4"}' data-id="gVPcJV5Xj4" id="gVPcJV5Xj4" data-same-height-subgrid-container class="gVPcJV5Xj4 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpcgACmsYJ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGBgdMGN1b"
        class="gGBgdMGN1b"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:26px;--lh-tablet:24px;--lh-mobile:26px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGBgdMGN1b_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--bg:transparent;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px">
    <div data-index="3" class="g_vblMSRbJ gp-overflow-hidden gp-child-item-g_vblMSRbJ gp-accordion-item">
      <div aria-hidden uid="goKfwoAVD6" id="goKfwoAVD6" data-index="3"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g_vblMSRbJ gp-accordion-item-g_vblMSRbJ-3" style="--pl:24px;--pr:24px;--pt:15px;--pb:15px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:transparent;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#EEEEEE;--hvr-bc:#EEEEEE">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:22px;height:22px"
            data-index="3"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--ta:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#222323;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--size:19px;--size-tablet:16px;--size-mobile:18px;--lh:24px;--lh-tablet:180%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_vblMSRbJ_childItem_3 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="3" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="3" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      
      class="g8CH3hrfPB gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g_SrPgDn8X"}' data-id="g_SrPgDn8X" id="g_SrPgDn8X" data-same-height-subgrid-container class="g_SrPgDn8X gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNAJjcNFYG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5779-Q2LD"
        class="g5779-Q2LD"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:26px;--lh-tablet:24px;--lh-mobile:26px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5779-Q2LD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--bg:transparent;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px">
    <div data-index="4" class="g_vblMSRbJ gp-overflow-hidden gp-child-item-g_vblMSRbJ gp-accordion-item">
      <div aria-hidden uid="g5DFJfwF96" id="g5DFJfwF96" data-index="4"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g_vblMSRbJ gp-accordion-item-g_vblMSRbJ-4" style="--pl:24px;--pr:24px;--pt:15px;--pb:15px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:transparent;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#EEEEEE;--hvr-bc:#EEEEEE">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:22px;height:22px"
            data-index="4"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--ta:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#222323;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--size:19px;--size-tablet:16px;--size-mobile:18px;--lh:24px;--lh-tablet:180%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_vblMSRbJ_childItem_4 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="4" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="4" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      
      class="gWyDbwlWWz gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGwyxEFz9J"}' data-id="gGwyxEFz9J" id="gGwyxEFz9J" data-same-height-subgrid-container class="gGwyxEFz9J gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZqiIzYPBx gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grcqOh_tmz"
        class="grcqOh_tmz"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:26px;--lh-tablet:24px;--lh-mobile:26px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrcqOh_tmz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#121212;--icon-expand-hover-color:#121212;--icon-expand-active-color:#121212;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--bg:transparent;--shadow:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px">
    <div data-index="5" class="g_vblMSRbJ gp-overflow-hidden gp-child-item-g_vblMSRbJ gp-accordion-item">
      <div aria-hidden uid="gIVArxybka" id="gIVArxybka" data-index="5"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] g_vblMSRbJ gp-accordion-item-g_vblMSRbJ-5" style="--pl:24px;--pr:24px;--pt:15px;--pb:15px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:10px;--pb-mobile:10px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:transparent;--bgc:transparent;--bs:solid;--hvr-bs:solid;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#EEEEEE;--hvr-bc:#EEEEEE">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:22px;height:22px"
            data-index="5"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817558491496808">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z" /></svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left;--ta:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#222323;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:600;--size:19px;--size-tablet:16px;--size-mobile:18px;--lh:24px;--lh-tablet:180%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_vblMSRbJ_childItem_5 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="5" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="5" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:24px;--pr:24px">
          <div
      data-same-height-display-contents
      
      class="gDKdT375QG gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gD_WocqBXX"}' data-id="gD_WocqBXX" id="gD_WocqBXX" data-same-height-subgrid-container class="gD_WocqBXX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpn4NWZUYg gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZ3I5t3Bhg"
        class="gZ3I5t3Bhg"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:26px;--lh-tablet:24px;--lh-mobile:26px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZ3I5t3Bhg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 22",
    "tag": "section",
    "class": "gps-598005407789154871 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/smooth-spine/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=598005407536906807&sectionId=598005407789154871)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggBJa8Yn5GB_text","label":"ggBJa8Yn5GB_text","default":"Frequently Asked Questions"},{"type":"html","id":"gg_vblMSRbJ_childItem_0","label":"gg_vblMSRbJ_childItem_0","default":"<p>How quickly will I feel results?</p>"},{"type":"html","id":"gg_vblMSRbJ_childItem_1","label":"gg_vblMSRbJ_childItem_1","default":"<p>Is this safe to use every day?</p>"},{"type":"html","id":"gg_vblMSRbJ_childItem_2","label":"gg_vblMSRbJ_childItem_2","default":"<p>Will this work for my specific condition?</p>"},{"type":"html","id":"gg_vblMSRbJ_childItem_3","label":"gg_vblMSRbJ_childItem_3","default":"<p>I've tried traction devices. They didn't work.</p>"},{"type":"html","id":"gg_vblMSRbJ_childItem_4","label":"gg_vblMSRbJ_childItem_4","default":"<p>Can I use this with metal implants or a pacemaker?</p>"},{"type":"html","id":"gg_vblMSRbJ_childItem_5","label":"gg_vblMSRbJ_childItem_5","default":"<p>What if it doesn’t work for me?</p>"},{"type":"html","id":"ggJ59b-ywE__text","label":"ggJ59b-ywE__text","default":"<p>Most feel immediate relief. But real transformation takes consistency. 94% report major pain reduction within 14 days. Many are pain-free by week 4.</p>"},{"type":"html","id":"ggOF78_pLax_text","label":"ggOF78_pLax_text","default":"<p>Yes. FDA-registered for daily home use. Unlike pills (which damage organs) or repeated injections (which weaken tissue), these therapies have zero negative side effects. Daily use accelerates healing.</p>"},{"type":"html","id":"ggGBgdMGN1b_text","label":"ggGBgdMGN1b_text","default":"<p>Clinically effective for: herniated discs, bulging discs, degenerative disc disease, sciatica, lumbar stenosis, chronic lower back pain, pinched nerves, SI joint dysfunction. If your pain is structural spine issues (not fractures/tumors), it works. That's why we offer 90-day money-back guarantee.</p>"},{"type":"html","id":"gg5779-Q2LD_text","label":"gg5779-Q2LD_text","default":"<p>Here's the difference: Most “traction devices” create minimal decompression and ignore disc rehydration. SmoothSpine creates 3–7mm vertebral separation (clinical threshold) PLUS heat for nutrient absorption PLUS massage for circulation PLUS EMS for muscle support PLUS red light for inflammation. It’s not just traction. It’s a complete regeneration system.</p>"},{"type":"html","id":"ggrcqOh_tmz_text","label":"ggrcqOh_tmz_text","default":"<p>If you have a pacemaker/defibrillator or are pregnant: don’t use EMS. Other modes are safe. For metal implants (screws, rods, fusion hardware): generally safe, but consult your surgeon first. Most approve it because it aids recovery.</p>"},{"type":"html","id":"ggZ3I5t3Bhg_text","label":"ggZ3I5t3Bhg_text","default":"<p>90-day money-back guarantee. Use it for 90 days. Not thrilled? Full refund. No hassle. No restocking fees. No questions. 94% keep their device. But if you're in the 6%, you risk nothing.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}