
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-597882213446910860.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-597882213446910860.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-597882213446910860.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-597882213446910860.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-597882213446910860.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-597882213446910860.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-597882213446910860.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-597882213446910860.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-597882213446910860.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-597882213446910860.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-597882213446910860.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-597882213446910860.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-597882213446910860.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-597882213446910860.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-597882213446910860.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-597882213446910860.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-597882213446910860.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-597882213446910860.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-597882213446910860.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-597882213446910860.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-597882213446910860.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-597882213446910860.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-597882213446910860.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-597882213446910860.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-597882213446910860.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-597882213446910860.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-597882213446910860.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-597882213446910860.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-597882213446910860.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-597882213446910860.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-597882213446910860.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-597882213446910860.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-597882213446910860.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-597882213446910860.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-597882213446910860.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-597882213446910860.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-597882213446910860.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-597882213446910860.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-597882213446910860.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-597882213446910860.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-597882213446910860.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-597882213446910860.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-597882213446910860.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-597882213446910860.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-597882213446910860.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-597882213446910860.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-597882213446910860.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-597882213446910860.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-597882213446910860.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-597882213446910860.gps.gpsil [style*="--minh:"]{min-height:var(--minh)}.gps-597882213446910860.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-597882213446910860.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-597882213446910860.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-597882213446910860.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-597882213446910860.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-597882213446910860.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-597882213446910860.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-597882213446910860.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-597882213446910860.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-597882213446910860.gps.gpsil [style*="--pe:"]{pointer-events:var(--pe)}.gps-597882213446910860.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-597882213446910860.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-597882213446910860.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-597882213446910860.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-597882213446910860.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-597882213446910860.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-597882213446910860.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-597882213446910860.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-597882213446910860.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-597882213446910860.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-597882213446910860.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-597882213446910860.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-597882213446910860.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-597882213446910860.gps.gpsil [style*="--pe-tablet:"]{pointer-events:var(--pe-tablet)}.gps-597882213446910860.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-597882213446910860.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-597882213446910860.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-597882213446910860.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-597882213446910860.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-597882213446910860.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-597882213446910860.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-597882213446910860.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-597882213446910860.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-597882213446910860.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-597882213446910860.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-597882213446910860.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-597882213446910860.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-597882213446910860.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-597882213446910860.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-597882213446910860.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-597882213446910860.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-597882213446910860.gps.gpsil [style*="--pe-mobile:"]{pointer-events:var(--pe-mobile)}.gps-597882213446910860.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-597882213446910860 .-gp-translate-y-1\/2,.gps-597882213446910860 .gp-translate-x-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-597882213446910860 .focus-visible\:gp-shadow-none,.gps-597882213446910860 .gp-shadow-md,.gps-597882213446910860 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-597882213446910860 .gp-fixed{position:fixed}.gps-597882213446910860 .gp-absolute{position:absolute}.gps-597882213446910860 .gp-relative{position:relative}.gps-597882213446910860 .gp-inset-0{inset:0}.gps-597882213446910860 .gp-right-0{right:0}.gps-597882213446910860 .gp-top-0{top:0}.gps-597882213446910860 .gp-z-1{z-index:1}.gps-597882213446910860 .gp-z-50{z-index:50}.gps-597882213446910860 .gp-z-\[999999\]{z-index:999999}.gps-597882213446910860 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-597882213446910860 .gp-mb-0{margin-bottom:0}.gps-597882213446910860 .gp-block{display:block}.gps-597882213446910860 .gp-inline-block{display:inline-block}.gps-597882213446910860 .gp-flex{display:flex}.gps-597882213446910860 .gp-inline-flex{display:inline-flex}.gps-597882213446910860 .gp-grid{display:grid}.gps-597882213446910860 .gp-contents{display:contents}.gps-597882213446910860 .\!gp-hidden{display:none!important}.gps-597882213446910860 .gp-hidden{display:none}.gps-597882213446910860 .gp-h-auto{height:auto}.gps-597882213446910860 .gp-h-full{height:100%}.gps-597882213446910860 .gp-h-screen{height:100vh}.gps-597882213446910860 .\!gp-max-h-screen{max-height:100vh!important}.gps-597882213446910860 .gp-max-h-full{max-height:100%}.gps-597882213446910860 .gp-w-full{width:100%}.gps-597882213446910860 .gp-max-w-full{max-width:100%}.gps-597882213446910860 .gp-flex-none{flex:none}.gps-597882213446910860 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-597882213446910860 .-gp-translate-y-1\/2,.gps-597882213446910860 .gp-translate-x-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-597882213446910860 .gp-translate-x-1\/2{--tw-translate-x:50%}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-597882213446910860 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-597882213446910860 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-597882213446910860 .gp-flex-col{flex-direction:column}.gps-597882213446910860 .gp-items-center{align-items:center}.gps-597882213446910860 .gp-justify-center{justify-content:center}.gps-597882213446910860 .gp-overflow-hidden{overflow:hidden}.gps-597882213446910860 .gp-overflow-y-auto{overflow-y:auto}.gps-597882213446910860 .gp-overflow-x-hidden{overflow-x:hidden}.gps-597882213446910860 .gp-bg-transparent{background-color:transparent}.gps-597882213446910860 .gp-align-middle{vertical-align:middle}.gps-597882213446910860 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color)}.gps-597882213446910860 .gp-shadow-md,.gps-597882213446910860 .gp-shadow-xl{box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-597882213446910860 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color)}.gps-597882213446910860 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-597882213446910860 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-597882213446910860 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-597882213446910860 .gp-duration-100{transition-duration:.1s}.gps-597882213446910860 .gp-duration-200{transition-duration:.2s}.gps-597882213446910860 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-597882213446910860 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-597882213446910860 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}@media (max-width:1024px){.gps-597882213446910860 .tablet\:\!gp-hidden{display:none!important}.gps-597882213446910860 .tablet\:gp-hidden{display:none}.gps-597882213446910860 .tablet\:gp-h-auto{height:auto}.gps-597882213446910860 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-597882213446910860 .mobile\:\!gp-hidden{display:none!important}.gps-597882213446910860 .mobile\:gp-hidden{display:none}.gps-597882213446910860 .mobile\:gp-h-auto{height:auto}.gps-597882213446910860 .mobile\:gp-flex-none{flex:none}}.gps-597882213446910860 .\[\&\>svg\]\:\!gp-h-\[var\(--height-icon\)\]>svg{height:var(--height-icon)!important}.gps-597882213446910860 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-597882213446910860 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    <gp-dialog
      data-id="gP5nA9zoip"
      class="{% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--d:contents;--d-tablet:contents;--d-mobile:contents"
      data-gp-setting='{"dialogId":"gP5nA9zoip","trigger":"none","triggerTime":0,"frequency":3,"triggerPercentage":10,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"once","display":{"desktop":true,"mobile":true,"tablet":true}}'>
      <dialog
        aria-label="Gift 3"
        data-gp-dialog-id="gP5nA9zoip"
        class="gp-dialog gp-bg-transparent gp-z-[999999]"
        style="z-index:100001"
      >
        <div aria-label="Backdrop" class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-shadow-xl gp-items-center gp-justify-center" style="--pe:auto;--pe-mobile:auto;--pe-tablet:auto">
        
            <div
              data-gp-dialog-overlay
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              style="--op:0.7;--bgc:#121212;--d:block;--d-mobile:block;--d-tablet:block"
              aria-hidden=true
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            
            class="gp-relative gp-max-h-full gp-max-w-full gp-animate-[fadeIn_0.4s_ease-in] gp-shadow-xl"
            style="--bs:solid;--bw:2px 2px 2px 2px;--bc:#3B89F1;--bblr:32px;--bbrr:32px;--btlr:32px;--btrr:32px;--bblr-mobile:32px;--bbrr-mobile:32px;--btlr-mobile:32px;--btrr-mobile:32px;--d:block;--d-mobile:block;--d-tablet:block;--w:600px;--w-tablet:600px;--w-mobile:88%;--minh:300px;--h-tablet:Auto;--h-mobile:Auto"
          >
            <button
              data-gp-dialog-close
              type="button"
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none gp-overflow-hidden gp-z-1 gp-translate-x-1/2 -gp-translate-y-1/2 gp-shadow-md gp-z-[999999]"
              style="--w:36px;--h:36px;--c:#FFFFFF;--bgc:#3B89F1;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--focus-bblr:999999px;--focus-bbrr:999999px;--focus-btlr:999999px;--focus-btrr:999999px;-undefined-bblr:999999px;-undefined-bbrr:999999px;-undefined-btlr:999999px;-undefined-btrr:999999px"
            >
              <span style="--height-icon:16px" class="[&>svg]:!gp-w-auto [&>svg]:!gp-h-[var(--height-icon)]">
              <svg viewBox="0 0 12 12" fill="currentColor" style={svgContentStyle}>
                <path d="M7.1,6l4.5,4.5l-1.1,1.1L6,7.1l-4.5,4.5l-1.1-1.1L4.9,6L0.5,1.5l1.1-1.1L6,4.9l4.5-4.5l1.1,1.1L7.1,6z"></path>
              </svg>
              </span>
            </button>
            <div
              aria-label="Dialog body"
              style="--shadow:none;--op:100%;--pageType:GP_PRODUCT;--pt:var(--g-s-2xl);--pl:var(--g-s-xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xs);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-l);--pt-tablet:var(--g-s-2xl);--pl-tablet:var(--g-s-m);--pb-tablet:var(--g-s-2xl);--pr-tablet:var(--g-s-2xl);--minh:300px;--h-tablet:Auto;--h-mobile:Auto;border-radius:inherit;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden !gp-max-h-screen">
                <div>
                  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gibs8hb7Rg"}' data-id="gibs8hb7Rg" id="gibs8hb7Rg" data-same-height-subgrid-container class="gibs8hb7Rg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:10px;--cg-mobile:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gfE1HH7Rs8 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gEEzbjA_WA"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1776668728433 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gEEzbjA_WA"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggEEzbjA_WA_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwIiBoZWlnaHQ9IjE2OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzAwLTE2OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjE2OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjE2OSIgZmlsbD0idXJsKCNnLTMwMC0xNjkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDAiIHRvPSIzMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggEEzbjA_WA_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwIiBoZWlnaHQ9IjE2OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzAwLTE2OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjE2OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjE2OSIgZmlsbD0idXJsKCNnLTMwMC0xNjkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDAiIHRvPSIzMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggEEzbjA_WA_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAwIiBoZWlnaHQ9IjE2OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzAwLTE2OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjE2OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjE2OSIgZmlsbD0idXJsKCNnLTMwMC0xNjkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zMDAiIHRvPSIzMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggEEzbjA_WA_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:150/150;--aspect-tablet:150/150;--aspect-mobile:100/100;--objf:cover;--w:150px;--w-tablet:150px;--w-mobile:100px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="guH9ExtU3U gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_R_DeHFGg"
        class="g_R_DeHFGg"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:var(--g-s-s);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:800;--size:20px;--size-tablet:20px;--size-mobile:19px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_R_DeHFGg_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbeT0zYGDj"
        class="gbeT0zYGDj"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:800;--size:20px;--size-tablet:20px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#3B89F1;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbeT0zYGDj_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpSZ3eW3Ke"}' data-id="gpSZ3eW3Ke" id="gpSZ3eW3Ke" data-same-height-subgrid-container class="gpSZ3eW3Ke gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:42px;--pl:var(--g-s-l);--mt-mobile:20px;--pl-mobile:var(--g-s-l);--mt-tablet:var(--g-s-2xl);--pl-tablet:var(--g-s-l);--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gh75slbBCU gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzeMY49Px7"
        class="gzeMY49Px7"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:var(--g-s-s);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--size:20px;--size-tablet:20px;--size-mobile:19px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzeMY49Px7_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gu6lqOfqOo"
        class="gu6lqOfqOo"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggu6lqOfqOo_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://assets.gemcommerce.com/assets-v2/gp-dialog-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-597882213446910860 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/smooth-spine/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=597882213245125516&sectionId=597882213446910860)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggEEzbjA_WA_srcSet_desktop_src","label":"ggEEzbjA_WA_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-dbe7f9da-6e74-479b-b67d-0eb15e1024aa.webp"},{"type":"html","id":"gg_R_DeHFGg_text","label":"gg_R_DeHFGg_text","default":"SmoothSpine Zip Lock Travel Bag"},{"type":"html","id":"ggbeT0zYGDj_text","label":"ggbeT0zYGDj_text","default":"<s>$15</s> FREE&nbsp;"},{"type":"html","id":"ggzeMY49Px7_text","label":"ggzeMY49Px7_text","default":"Perfect Travel Companion—FREE with Your Order Today!"},{"type":"html","id":"ggu6lqOfqOo_text","label":"ggu6lqOfqOo_text","default":"This water-resistant, compact zip lock bag <strong>keeps your SmoothSpine gear organized, clean, and protected</strong>—whether you're at home or on the go. <strong>Lightweight and durable.</strong>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}