
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-572012432579757208.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-572012432579757208.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-572012432579757208.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-572012432579757208.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-572012432579757208.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-572012432579757208.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-572012432579757208.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-572012432579757208.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-572012432579757208.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-572012432579757208.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-572012432579757208.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-572012432579757208.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-572012432579757208.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-572012432579757208.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-572012432579757208.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-572012432579757208.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-572012432579757208.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-572012432579757208.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-572012432579757208.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-572012432579757208.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-572012432579757208.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-572012432579757208.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-572012432579757208.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-572012432579757208.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-572012432579757208.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-572012432579757208.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-572012432579757208.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-572012432579757208.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-572012432579757208.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-572012432579757208.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-572012432579757208.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-572012432579757208.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-572012432579757208.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-572012432579757208.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-572012432579757208.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-572012432579757208.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-572012432579757208.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-572012432579757208.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-572012432579757208.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-572012432579757208.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-572012432579757208.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-572012432579757208.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-572012432579757208.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-572012432579757208.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-572012432579757208.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-572012432579757208.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-572012432579757208.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-572012432579757208.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-572012432579757208.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-572012432579757208.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-572012432579757208.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-572012432579757208.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-572012432579757208.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-572012432579757208.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-572012432579757208.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-572012432579757208.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-572012432579757208.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-572012432579757208.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-572012432579757208.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-572012432579757208.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-572012432579757208.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-572012432579757208.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-572012432579757208.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-572012432579757208.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-572012432579757208.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-572012432579757208.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-572012432579757208.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-572012432579757208.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-572012432579757208.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-572012432579757208.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-572012432579757208.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-572012432579757208.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-572012432579757208.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-572012432579757208 .gp-relative{position:relative}.gps-572012432579757208 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-572012432579757208 .gp-mb-0{margin-bottom:0}.gps-572012432579757208 .gp-inline-block{display:inline-block}.gps-572012432579757208 .gp-flex{display:flex}.gps-572012432579757208 .gp-grid{display:grid}.gps-572012432579757208 .gp-contents{display:contents}.gps-572012432579757208 .\!gp-hidden{display:none!important}.gps-572012432579757208 .gp-hidden{display:none}.gps-572012432579757208 .gp-h-auto{height:auto}.gps-572012432579757208 .gp-h-full{height:100%}.gps-572012432579757208 .gp-w-full{width:100%}.gps-572012432579757208 .gp-max-w-full{max-width:100%}.gps-572012432579757208 .gp-flex-none{flex:none}.gps-572012432579757208 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-572012432579757208 .gp-flex-col{flex-direction:column}.gps-572012432579757208 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-572012432579757208 .gp-duration-200{transition-duration:.2s}.gps-572012432579757208 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-572012432579757208 .tablet\:\!gp-hidden{display:none!important}.gps-572012432579757208 .tablet\:gp-hidden{display:none}.gps-572012432579757208 .tablet\:gp-h-auto{height:auto}.gps-572012432579757208 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-572012432579757208 .mobile\:\!gp-hidden{display:none!important}.gps-572012432579757208 .mobile\:gp-hidden{display:none}.gps-572012432579757208 .mobile\:gp-h-auto{height:auto}.gps-572012432579757208 .mobile\:gp-flex-none{flex:none}}.gps-572012432579757208 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"geQlP1SYnq"}' data-id="geQlP1SYnq" id="geQlP1SYnq" data-same-height-subgrid-container class="geQlP1SYnq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:var(--g-s-2xl);--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:15px;--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPidO_K6AS gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gPoFlB75qG"}' data-id="gPoFlB75qG" id="gPoFlB75qG" data-same-height-subgrid-container class="gPoFlB75qG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:40px;--mb:20px;--cg:20px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1150px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:1;--o-mobile:0"
      class="goZv6OBG2y gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gr2MLUKA1Q"}' data-id="gr2MLUKA1Q" id="gr2MLUKA1Q" data-same-height-subgrid-container class="gr2MLUKA1Q gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:10px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEz-3IH-j- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzRfc3KmKh"
        class="gzRfc3KmKh"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:0px;--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--size:30px;--size-tablet:30px;--size-mobile:24px;--lh:38px;--lh-tablet:38px;--lh-mobile:32.8px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzRfc3KmKh_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gQsjbwtdZb"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776668635148 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gQsjbwtdZb"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggQsjbwtdZb_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggQsjbwtdZb_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggQsjbwtdZb_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDAwLTEwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMDAiIGhlaWdodD0iMTAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAwMCIgaGVpZ2h0PSIxMDAwIiBmaWxsPSJ1cmwoI2ctMTAwMC0xMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAwMCIgdG89IjEwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggQsjbwtdZb_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:0;--o-mobile:1"
      class="gItkUMcesV gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gvo_bUjYqy"}' data-id="gvo_bUjYqy" id="gvo_bUjYqy" data-same-height-subgrid-container class="gvo_bUjYqy gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:12px;--pl:30px;--pb:12px;--pr:0px;--pt-mobile:15px;--pl-mobile:0px;--pb-mobile:15px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1Z7flCHnA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gclZmxOds_"
        class="gclZmxOds_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--size:26px;--size-tablet:24px;--size-mobile:26px;--lh:35.6px;--lh-tablet:33.6px;--lh-mobile:35px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggclZmxOds__text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5gEyQLqLG"
        class="g5gEyQLqLG"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:24px;--lh-tablet:22px;--lh-mobile:24px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5gEyQLqLG_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-RifOCijk"
        class="g-RifOCijk"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:24px;--lh-tablet:22px;--lh-mobile:24px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-RifOCijk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkgBw2113r"
        class="gkgBw2113r"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:auto;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:24px;--lh-tablet:22px;--lh-mobile:24px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkgBw2113r_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-572012432579757208 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/smooth-spine/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=572012432478700696&sectionId=572012432579757208)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggzRfc3KmKh_text","label":"ggzRfc3KmKh_text","default":"The Real Relief Starts When the Inflammation Stops"},{"type":"html","id":"ggQsjbwtdZb_srcSet_desktop_src","label":"ggQsjbwtdZb_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/gempages_464015397612422087-2aeefdce-44d6-4a49-b001-0f939f5430a3.png"},{"type":"html","id":"ggclZmxOds__text","label":"ggclZmxOds__text","default":"The Real Relief Starts When the Inflammation Stops"},{"type":"html","id":"gg5gEyQLqLG_text","label":"gg5gEyQLqLG_text","default":"<p>That’s exactly why we created <strong>SciatiCalm </strong>— a supplement designed to do what stretches and painkillers can’t: <strong>calm nerve inflammation at the source</strong> and support your body’s ability to heal the protective layer around your nerves.</p>"},{"type":"html","id":"gg-RifOCijk_text","label":"gg-RifOCijk_text","default":"<p>Each capsule combines <strong>bio-enhanced turmeric</strong> (curcumin extract) with <strong>black pepper fruit extract</strong> for maximum absorption. Together, they help reduce swelling around the sciatic nerve, relieve pressure, and support the regeneration of the <strong>myelin sheath</strong> — the barrier your body needs to protect itself from those sharp, shooting pains.</p>"},{"type":"html","id":"ggkgBw2113r_text","label":"ggkgBw2113r_text","default":"<p>No temporary numbing. No guesswork. Just real, clinical-strength support to help you sit, sleep, and move again without fear of flare-ups.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}