
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-598005407789482551.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-598005407789482551.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-598005407789482551.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-598005407789482551.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-598005407789482551.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-598005407789482551.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-598005407789482551.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-598005407789482551.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-598005407789482551.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-598005407789482551.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-598005407789482551.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-598005407789482551.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-598005407789482551.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-598005407789482551.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-598005407789482551.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-598005407789482551.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-598005407789482551.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-598005407789482551.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-598005407789482551.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-598005407789482551.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-598005407789482551.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-598005407789482551.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-598005407789482551.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-598005407789482551.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-598005407789482551.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-598005407789482551.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-598005407789482551.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-598005407789482551.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-598005407789482551.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-598005407789482551.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-598005407789482551.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-598005407789482551.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-598005407789482551.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-598005407789482551.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-598005407789482551.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-598005407789482551.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-598005407789482551.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-598005407789482551.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-598005407789482551.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-598005407789482551.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-598005407789482551.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-598005407789482551.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-598005407789482551.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-598005407789482551.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-598005407789482551.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-598005407789482551.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-598005407789482551.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-598005407789482551.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-598005407789482551.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-598005407789482551.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-598005407789482551.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-598005407789482551.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-598005407789482551.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-598005407789482551.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-598005407789482551.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-598005407789482551.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-598005407789482551.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-598005407789482551.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-598005407789482551.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-598005407789482551.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-598005407789482551.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-598005407789482551.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-598005407789482551.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-598005407789482551.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-598005407789482551.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-598005407789482551.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-598005407789482551.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-598005407789482551.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-598005407789482551.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-598005407789482551.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-598005407789482551.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-598005407789482551.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-598005407789482551.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-598005407789482551.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-598005407789482551.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-598005407789482551.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-598005407789482551.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-598005407789482551.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-598005407789482551.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-598005407789482551.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-598005407789482551.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-598005407789482551 .gp-relative{position:relative}.gps-598005407789482551 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-598005407789482551 .gp-mb-0{margin-bottom:0}.gps-598005407789482551 .gp-flex{display:flex}.gps-598005407789482551 .gp-inline-flex{display:inline-flex}.gps-598005407789482551 .gp-grid{display:grid}.gps-598005407789482551 .\!gp-hidden{display:none!important}.gps-598005407789482551 .gp-hidden{display:none}.gps-598005407789482551 .gp-w-full{width:100%}.gps-598005407789482551 .\!gp-max-w-none{max-width:none!important}.gps-598005407789482551 .gp-max-w-full{max-width:100%}.gps-598005407789482551 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-598005407789482551 .gp-flex-col{flex-direction:column}.gps-598005407789482551 .gp-items-center{align-items:center}.gps-598005407789482551 .gp-justify-center{justify-content:center}.gps-598005407789482551 .gp-overflow-hidden{overflow:hidden}.gps-598005407789482551 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity,1))}.gps-598005407789482551 .gp-leading-\[0\]{line-height:0}.gps-598005407789482551 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-598005407789482551 .gp-duration-200{transition-duration:.2s}.gps-598005407789482551 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-598005407789482551 .tablet\:\!gp-hidden{display:none!important}.gps-598005407789482551 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-598005407789482551 .mobile\:\!gp-hidden{display:none!important}.gps-598005407789482551 .mobile\:gp-hidden{display:none}}.gps-598005407789482551 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-598005407789482551 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-598005407789482551 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-598005407789482551 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-598005407789482551 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-598005407789482551 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-598005407789482551 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-598005407789482551 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVQfYkfPHX"}' data-id="gVQfYkfPHX" id="gVQfYkfPHX" data-same-height-subgrid-container class="gVQfYkfPHX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:0px;--pt-mobile:var(--g-s-2xl);--pl-mobile:15px;--pb-mobile:20px;--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOJV-yzjhs gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gRkKsCH745"}' data-id="gRkKsCH745" id="gRkKsCH745" data-same-height-subgrid-container class="gRkKsCH745 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:20px;--mb:30px;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1150px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="g40dOA2ChI gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4DS5HNdEN"}' data-id="g4DS5HNdEN" id="g4DS5HNdEN" data-same-height-subgrid-container class="g4DS5HNdEN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:10px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEdg7ThFlj gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9sfrUDNiv"
        class="g9sfrUDNiv"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--mb-mobile:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--size:30px;--size-tablet:30px;--size-mobile:24px;--lh:38px;--lh-tablet:38px;--lh-mobile:32.8px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9sfrUDNiv_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
       data-id="gb3x-tTKfi" class="gb3x-tTKfi !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--aspect:auto">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <img
      alt="Video" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ section.settings.ggb3x-tTKfi_poster_src }}" data-src="{{ section.settings.ggb3x-tTKfi_poster_src }}" data-srcset="{{ section.settings.ggb3x-tTKfi_poster_src }}"
      id=""
      style="--z:-1;display:none;width:100%;height:auto;--aspect:undefined/undefined;--aspect-tablet:undefined/undefined;--aspect-mobile:undefined/undefined"
      class="gp_lazyload"
    />
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
          const eventList = ["keydown", "mousemove", "wheel", "touchmove", "touchstart", "touchend"];
          const autoLoadTimeout = setTimeout(runAutoPlayVideo, 0);
          eventList.forEach(function(event) {
              window.addEventListener(event, triggerAutoPlay, { passive: true })
          });
          function triggerAutoPlay() {
              runAutoPlayVideo();
              clearTimeout(autoLoadTimeout);
              eventList.forEach(function(event) {
                  window.removeEventListener(event, triggerAutoPlay, { passive: true });
              });
          }
          function runAutoPlayVideo() {
              var video = document.getElementById('gp-video-gb3x-tTKfi');
              if (!video) return;
              video.setAttribute('autoplay','true');
              video.setAttribute('playsinline','true');
              var playPromise = video.play();
              if (playPromise !== undefined) {
                playPromise.catch(function(error) {
                  if (error.name === 'AbortError') {
                    video.addEventListener('loadeddata', function onLoaded() {
                      video.removeEventListener('loadeddata', onLoaded);
                      video.play();
                    });
                  }
                });
              }
          }
        });
      </script>
      
    <video
    id="gp-video-gb3x-tTKfi" title="Video" preload="none" data-src="{{ section.settings.ggb3x-tTKfi_html5Url }}" poster="{{ section.settings.ggb3x-tTKfi_poster_src }}" data-poster="{{ section.settings.ggb3x-tTKfi_poster_src }}"
      style="--aspect:auto"
      class="gp-w-full gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="g-hkQSPaFP gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gxEvkmySqR"}' data-id="gxEvkmySqR" id="gxEvkmySqR" data-same-height-subgrid-container class="gxEvkmySqR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:12px;--pl:30px;--pb:12px;--pr:10px;--mb-mobile:0px;--pt-mobile:15px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gT6D-y-59V gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNDYVqN7Gc"
        class="gNDYVqN7Gc"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--size:26px;--size-tablet:24px;--size-mobile:26px;--lh:35.6px;--lh-tablet:33.6px;--lh-mobile:35px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNDYVqN7Gc_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFoLsfJU5j"
        class="gFoLsfJU5j"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:24px;--lh-tablet:22px;--lh-mobile:24px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFoLsfJU5j_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNxAHEd9SQ"
        class="gNxAHEd9SQ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:24px;--lh-tablet:22px;--lh-mobile:24px;--ls:0px;--weight:bold;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNxAHEd9SQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F4F9FF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g_tHtKXYDf"}' data-id="g_tHtKXYDf" id="g_tHtKXYDf" data-same-height-subgrid-container class="g_tHtKXYDf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#C5C7D2;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mt:0px;--mb:20px;--pt:15px;--pl:20px;--pb:15px;--pr:20px;--mt-mobile:15px;--mb-mobile:15px;--pt-mobile:15px;--pl-mobile:20px;--pb-mobile:15px;--pr-mobile:20px;--mt-tablet:0px;--mb-tablet:20px;--pt-tablet:15px;--pl-tablet:20px;--pb-tablet:15px;--pr-tablet:20px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#F4F9FF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gSxHh1ClJc gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gdZhnotv1E"}' data-id="gdZhnotv1E" id="gdZhnotv1E" data-same-height-subgrid-container class="gdZhnotv1E gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCZuIS1eG- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGv6quz1r7"}' data-id="gGv6quz1r7" id="gGv6quz1r7" data-same-height-subgrid-container class="gGv6quz1r7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:8px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gNlBrm4VAQ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g0_Z2OXtQ7" class="gp-leading-[0] g0_Z2OXtQ7" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:5px;--mb:0px;--mt-mobile:5px;--mt-tablet:5px;--ta:left">
      <div data-id="g0_Z2OXtQ7" class="icon-wrapper gp-inline-flex gp-overflow-hidden g0_Z2OXtQ7 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#39B54A;--t:rotate(0deg);--w:21px;--w-tablet:21px;--w-mobile:25px;--h:21px;--h-tablet:21px;--h-mobile:25px;--minw:21px;--minw-tablet:21px;--minw-mobile:25px;--height-desktop:21px;--height-tablet:21px;--height-mobile:25px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gh9XLEk0Ua gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_-MJSPsBq"
        class="g_-MJSPsBq"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pb:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:26px;--lh-tablet:24px;--lh-mobile:26px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_-MJSPsBq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gT4wGbglIi"}' data-id="gT4wGbglIi" id="gT4wGbglIi" data-same-height-subgrid-container class="gT4wGbglIi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:8px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gZ5w2V0Jls gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gBSL2YZwK1" class="gp-leading-[0] gBSL2YZwK1" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:5px;--mb:0px;--mt-mobile:5px;--mt-tablet:5px;--ta:left">
      <div data-id="gBSL2YZwK1" class="icon-wrapper gp-inline-flex gp-overflow-hidden gBSL2YZwK1 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#39B54A;--t:rotate(0deg);--w:21px;--w-tablet:21px;--w-mobile:25px;--h:21px;--h-tablet:21px;--h-mobile:25px;--minw:21px;--minw-tablet:21px;--minw-mobile:25px;--height-desktop:21px;--height-tablet:21px;--height-mobile:25px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gTnnRbS8pj gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gP9YY587P1"
        class="gP9YY587P1"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pb:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:26px;--lh-tablet:24px;--lh-mobile:26px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggP9YY587P1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gDs8mZH8g1"}' data-id="gDs8mZH8g1" id="gDs8mZH8g1" data-same-height-subgrid-container class="gDs8mZH8g1 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:8px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gozJvi664o gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g5BBlv-JLh" class="gp-leading-[0] g5BBlv-JLh" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:5px;--mb:0px;--mt-mobile:5px;--mt-tablet:5px;--ta:left">
      <div data-id="g5BBlv-JLh" class="icon-wrapper gp-inline-flex gp-overflow-hidden g5BBlv-JLh " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#39B54A;--t:rotate(0deg);--w:21px;--w-tablet:21px;--w-mobile:25px;--h:21px;--h-tablet:21px;--h-mobile:25px;--minw:21px;--minw-tablet:21px;--minw-mobile:25px;--height-desktop:21px;--height-tablet:21px;--height-mobile:25px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gImfE2ydqA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="giF75sp5pb"
        class="giF75sp5pb"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pb:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:26px;--lh-tablet:24px;--lh-mobile:26px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggiF75sp5pb_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g5fr70ykd2"}' data-id="g5fr70ykd2" id="g5fr70ykd2" data-same-height-subgrid-container class="g5fr70ykd2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:8px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gz-ko2wKxO gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gy6k3UvM5H" class="gp-leading-[0] gy6k3UvM5H" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:5px;--mb:0px;--mt-mobile:5px;--mt-tablet:5px;--ta:left">
      <div data-id="gy6k3UvM5H" class="icon-wrapper gp-inline-flex gp-overflow-hidden gy6k3UvM5H " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#39B54A;--t:rotate(0deg);--w:21px;--w-tablet:21px;--w-mobile:25px;--h:21px;--h-tablet:21px;--h-mobile:25px;--minw:21px;--minw-tablet:21px;--minw-mobile:25px;--height-desktop:21px;--height-tablet:21px;--height-mobile:25px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gJh2UApnIn gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7gfYbpkbD"
        class="g7gfYbpkbD"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pb:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:26px;--lh-tablet:24px;--lh-mobile:26px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7gfYbpkbD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gF3m26Azqe"}' data-id="gF3m26Azqe" id="gF3m26Azqe" data-same-height-subgrid-container class="gF3m26Azqe gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:8px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gBuln95h6E gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gUkEdrb5UK" class="gp-leading-[0] gUkEdrb5UK" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:5px;--mb:0px;--mt-mobile:5px;--mt-tablet:5px;--ta:left">
      <div data-id="gUkEdrb5UK" class="icon-wrapper gp-inline-flex gp-overflow-hidden gUkEdrb5UK " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#39B54A;--t:rotate(0deg);--w:21px;--w-tablet:21px;--w-mobile:25px;--h:21px;--h-tablet:21px;--h-mobile:25px;--minw:21px;--minw-tablet:21px;--minw-mobile:25px;--height-desktop:21px;--height-tablet:21px;--height-mobile:25px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:start;--jc-mobile:start"
      class="gPd65tkJX2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gP5xbHg6z-"
        class="gP5xbHg6z-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pb:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:500;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:26px;--lh-tablet:24px;--lh-mobile:26px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggP5xbHg6z-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLpXZltW4C"
        class="gLpXZltW4C"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:24px;--lh-tablet:22px;--lh-mobile:24px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLpXZltW4C_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gd9w5iVAlN"
        class="gd9w5iVAlN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--lh:24px;--lh-tablet:22px;--lh-mobile:24px;--ls:0px;--c:#222323;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggd9w5iVAlN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-598005407789482551 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/smooth-spine/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=598005407536906807&sectionId=598005407789482551)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg9sfrUDNiv_text","label":"gg9sfrUDNiv_text","default":"Why This Works When Everything Else Failed"},{"type":"html","id":"ggb3x-tTKfi_youtubeUrl","label":"ggb3x-tTKfi_youtubeUrl","default":"https://www.youtube.com/watch?v=cyzh48XRS4M"},{"type":"html","id":"ggb3x-tTKfi_vimeoUrl","label":"ggb3x-tTKfi_vimeoUrl","default":"https://vimeo.com/347119375"},{"type":"html","id":"ggb3x-tTKfi_html5Url","label":"ggb3x-tTKfi_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/b921dd29b38246bd880ed00450f0d2ad.mp4"},{"type":"html","id":"ggb3x-tTKfi_poster_src","label":"ggb3x-tTKfi_poster_src","default":"https://cdn.shopify.com/s/files/1/0252/1261/6781/files/Screenshot_14.webp"},{"type":"html","id":"ggNDYVqN7Gc_text","label":"ggNDYVqN7Gc_text","default":"Why This Works When Everything Else Failed"},{"type":"html","id":"ggFoLsfJU5j_text","label":"ggFoLsfJU5j_text","default":"<p>Pills mask pain. Stretching can’t create enough decompression. Massage alone doesn’t fix structural degradation. And chiropractors are temporary without disc healing.</p>"},{"type":"html","id":"ggNxAHEd9SQ_text","label":"ggNxAHEd9SQ_text","default":"<p><strong>SmoothSpine Multi Therapy Pro</strong> attacks the <strong>ROOT CAUSE:</strong></p>"},{"type":"html","id":"gg_-MJSPsBq_text","label":"gg_-MJSPsBq_text","default":"<p>Creates 3–7mm vertebral separation (clinical decompression threshold)</p>"},{"type":"html","id":"ggP9YY587P1_text","label":"ggP9YY587P1_text","default":"<p>Forces fluid back into discs using deep heat</p>"},{"type":"html","id":"ggiF75sp5pb_text","label":"ggiF75sp5pb_text","default":"<p>Massage releases tension, improves circulation</p>"},{"type":"html","id":"gg7gfYbpkbD_text","label":"gg7gfYbpkbD_text","default":"<p>EMS strengthens support muscles</p>"},{"type":"html","id":"ggP5xbHg6z-_text","label":"ggP5xbHg6z-_text","default":"<p>Red light reduces inflammation</p>"},{"type":"html","id":"ggLpXZltW4C_text","label":"ggLpXZltW4C_text","default":"<p>It’s not symptom management. It’s elimination of the source of your pain.</p>"},{"type":"html","id":"ggd9w5iVAlN_text","label":"ggd9w5iVAlN_text","default":"<p>Your discs didn’t dehydrate overnight. They won’t fully rehydrate overnight. But healing starts immediately.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}