
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-557134511734588179.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-557134511734588179.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-557134511734588179.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-557134511734588179.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-557134511734588179.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-557134511734588179.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-557134511734588179.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-557134511734588179.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-557134511734588179.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-557134511734588179.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-557134511734588179.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-557134511734588179.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-557134511734588179.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-557134511734588179.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-557134511734588179.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-557134511734588179.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-557134511734588179.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-557134511734588179.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-557134511734588179.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-557134511734588179.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-557134511734588179.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-557134511734588179.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-557134511734588179.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-557134511734588179.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-557134511734588179.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-557134511734588179.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-557134511734588179.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-557134511734588179.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-557134511734588179.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-557134511734588179.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-557134511734588179.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-557134511734588179.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-557134511734588179.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-557134511734588179.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-557134511734588179.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-557134511734588179.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-557134511734588179.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-557134511734588179.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-557134511734588179.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-557134511734588179.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-557134511734588179.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-557134511734588179.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-557134511734588179.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-557134511734588179.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-557134511734588179.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-557134511734588179.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-557134511734588179 .gp-relative{position:relative}.gps-557134511734588179 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-557134511734588179 .gp-mb-0{margin-bottom:0}.gps-557134511734588179 .gp-flex{display:flex}.gps-557134511734588179 .gp-grid{display:grid}.gps-557134511734588179 .\!gp-hidden{display:none!important}.gps-557134511734588179 .gp-hidden{display:none}.gps-557134511734588179 .gp-max-w-full{max-width:100%}.gps-557134511734588179 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-557134511734588179 .gp-flex-col{flex-direction:column}.gps-557134511734588179 .gp-text-center{text-align:center}.gps-557134511734588179 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-557134511734588179 .gp-duration-200{transition-duration:.2s}.gps-557134511734588179 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-557134511734588179 .tablet\:\!gp-hidden{display:none!important}.gps-557134511734588179 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-557134511734588179 .mobile\:\!gp-hidden{display:none!important}.gps-557134511734588179 .mobile\:gp-hidden{display:none}}.gps-557134511734588179 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gt4BqpfUJ8"}' data-id="gt4BqpfUJ8" id="gt4BqpfUJ8" data-same-height-subgrid-container class="gt4BqpfUJ8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--pt-tablet:var(--g-s-2xl);--pl-tablet:var(--g-s-2xl);--pb-tablet:var(--g-s-2xl);--pr-tablet:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9ZRWXkr9H gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gN94DxbNnr"}' data-id="gN94DxbNnr" id="gN94DxbNnr" data-same-height-subgrid-container class="gN94DxbNnr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gACaTM0fBK gp-relative gp-flex gp-flex-col"
    >
      
    
      {%- assign gpBkProduct = product -%}
      
      {%- liquid
        if request.page_type == 'product'
          if 'static' == 'static'
            if '9636353933648' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at' | reverse | first
              endpaginate
            else
              assign product = all_products['pres-alp']
              assign productId = '9636353933648' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        else
          if '9636353933648' == 'latest'
            paginate collections.all.products by 100000
              assign product = collections.all.products | sort: 'created_at'| reverse | first
            endpaginate
          else
            assign product = all_products['pres-alp']
            assign productId = '9636353933648' | times: 1
            if product == empty or product == null
              paginate collections.all.products by 100000
                for item in collections.all.products
                  if item.id == productId
                    assign product = item
                  endif
                endfor
              endpaginate
            endif
          endif
        endif
      -%}
    
    
    {% if product != empty and product != null %}
      
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "g2OsrEIq5N" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
    
      <gp-product
        data-uid="g2OsrEIq5N"
        data-id="g2OsrEIq5N"
        
        
        gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "hasPreSelected": false, "variantSelected": {{ variant | json | escape }},  "inventory_management": {{ variant.inventory_management | json | escape  }}, "inventory_policy": {{ variant.inventory_policy | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity | default: 0 }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'
      >
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g2OsrEIq5N"}' data-id="g2OsrEIq5N-row" id="g2OsrEIq5N" data-same-height-subgrid-container class="g2OsrEIq5N gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:var(--g-s-2xl);--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtgtPHion9 gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="ghwFDJmYRN ">
      
    <div
      
      style="--ta:left"
    >
      <div>
        {% assign widget = 'review_widget' %}
        {% case widget %}
          {% when "single_product_preview_badge" %}
            <div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge' data-product-title='{{ product.title | escape }}' data-id='{{ product.id }}'>
              {{ product.metafields.judgeme.badge }}
            </div>
          {% when "review_widget" %}
            {% assign has_legacy = false %}
            {% if product.metafields.judgeme.widget.size > 20 %}
            {% assign has_legacy = true %}
            {% endif %}
              <div style='clear:both'></div>
              <div id='judgeme_product_reviews' class='jdgm-widget jdgm-review-widget' data-product-title='{{ product.title | escape }}' data-id='{{ product.id }}' data-product-id='{{ product.id }}' data-widget='review' data-auto-install='false' data-shop-reviews-count='{{ shop.metafields.judgeme.shop_reviews_count | default: 0 | escape }}' data-entry-point='review_widget.js' data-entry-key='review-widget/main.js'>
                {% if has_legacy %}
                <div class='jdgm-legacy-widget-content' style='display: none;'>{{ product.metafields.judgeme.widget }}</div>
                {% endif %}
              </div>
              {% if product.metafields.judgeme.review_widget_data %}
                <script>jdgm.data ||= {}; jdgm.data.reviewWidget ||= {}; jdgm.data.reviewWidget[{{ product.id }}] = {{ product.metafields.judgeme.review_widget_data }}</script>
              {% endif %}
          {% when "reviews_carousel" %}
            <div class='jdgm-carousel-wrapper'>
              {% assign jm_metafields = shop.metafields.judgeme %}
              <div class='jdgm-carousel-title-and-link'>
                <h2 class='jdgm-carousel-title'>Let customers speak for us</h2>
                <span class='jdgm-all-reviews-rating-wrapper' href='javascript:void(0)'>
                  <span style='display:block'  data-score='{{ jm_metafields.all_reviews_rating }}' class='jdgm-all-reviews-rating' aria-label='{{ jm_metafields.all_reviews_rating }} stars' tabindex='0' role='img'></span>
                  <span style='display: block' class='jdgm-carousel-number-of-reviews' data-number-of-reviews='{{ jm_metafields.all_reviews_count }}'>
                    from {{ shop.metafields.judgeme.all_reviews_count }} reviews
                  </span>
                </span>
              </div>
              {{ jm_metafields.featured_carousel }}
            </div>
          {% when "reviews_text" %}
            <div style='text-align: center'>
              <div class='jdgm-widget jdgm-all-reviews-text'>
                <a href='javascript:void(0)'>
                  <span data-score='{{ shop.metafields.judgeme.all_reviews_rating }}' class='jdgm-all-reviews-rating'></span>
                  <span class='jdgm-all-reviews-text__text' data-score='{{ shop.metafields.judgeme.all_reviews_rating }}' data-number-of-reviews='{{ shop.metafields.judgeme.all_reviews_count }}'>
                    Customers rate us {{ shop.metafields.judgeme.all_reviews_rating | round: 1 }}/5 based on {{ shop.metafields.judgeme.all_reviews_count }} reviews.
                  </span>
                </a>
              </div>
            </div>
          {% when "section_for_medals" %}
            {{ shop.metafields.judgeme.medals }}
          {% when "ugc_media_grid" %}
            <div class='jdgm-widget jdgm-ugc-media-wrapper'>
              {{ shop.metafields.judgeme.ugc_media_grid }}
            </div>
          {% when "verified_reviews_count_badge" %}
            <div style='clear:both'></div>
            <div style='text-align: center'>
              <a class='jdgm-verified-count-badget' href='javascript:void(0)'>
                {{ shop.metafields.judgeme.verified_badge }}
              </a>
            </div>
        {% endcase %}
      </div>
    </div>
  
      </div>
      <style id="custom-css-ghwFDJmYRN">
        .ghwFDJmYRN {

}

.jdgm-rev-widg__title {
    visibility: unset;
    font-size: 26px !important;
    font-weight: 700 !important;
    margin-bottom: 20px !important;
}
      </style>
    
    </div>

      
    </gp-row>
  
  
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ 'gempages.Product.product_not_found' | t }}</div>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 15",
    "tag": "section",
    "class": "gps-557134511734588179 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/smooth-spine/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=557134511633072915&sectionId=557134511734588179)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}